body {
  background-color: #f7b267;
  max-width: 600px;
  max-height: 700px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

footer {
  color: #f25c54;
  font-size: 14px;
  margin: 0 auto;
  max-width: 300px;
}

a {
  color: red;
  text-decoration: none;
}
