body {
  background-color: #f7b267;
  max-width: 600px;
  max-height: 700px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
